Source: connui-common
Section: x11
Priority: required
Maintainer: Ivaylo Dimitrov <ivo.g.dimitrov.75@gmail.com>
Build-Depends: debhelper (>= 10), cdbs, libtool-bin, autoconf, automake, pkg-config, libglib2.0-dev, libgconf2-dev, libdbus-1-dev, mce-dev, icd2-osso-ic-dev, libhildon1-dev, libgtk2.0-dev, icd2-dev, maemo-launcher-dev, maemo-system-services-dev, libgofono-dev, libglibutil-dev
Standards-Version: 3.8.0

Package: libconnui
Section: libs
Priority: required
Architecture: any
Depends: ${shlibs:Depends}
Description: Common connectivity UI library
 This package provides a common connectivity UI library.

Package: libconnui-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libconnui (= ${binary:Version})
Description: libconnui development files
 This package contains the files needed for developing applications that
 use libconnui.

Package: connui-conndlgs
Architecture: any
Depends: ${shlibs:Depends}
Replaces: osso-connectivity-ui-conndlgs
Conflicts: osso-connectivity-ui-conndlgs
Description: Connectivity Dialogs daemon
 This package provides the Connectivity Dialogs that are activated via D-Bus
 requested by ICd and other parties.

Package: libconbtui0
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libbtui
Description: Bluetooth UI Library
 This package provides a Bluetooth UI library for generic BT bonding and
 searching UI.

Package: libconbtui0-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libconbtui0 (= ${binary:Version})
Description: libconbtui0 development files
 This package contains the files needed for developing applications that
 use libconbtui0.
