#!/usr/bin/make -f
# export DH_VERBOSE=1

DEB_CONFIGURE_EXTRA_FLAGS = --enable-maemo-launcher --disable-static --prefix=/usr --sysconfdir=/etc

CFLAGS += -Werror

override_dh_install:
	dh_install
	dh_maemolauncher
	dh_installxsession -u 'post 24'

override_dh_auto_configure:
	dh_auto_configure -- $(DEB_CONFIGURE_EXTRA_FLAGS)

override_dh_autoreconf:
	dh_autoreconf --as-needed

%:
	dh $@ --with autoreconf
